.idea/
.vscode/
.DS_Store

.coverage/
build/
dist/
vendor/

/tools/bin/
/tools/vendor/

/cli/bin/*
!/cli/bin/.gitkeep
/services/bin/*
!/services/bin/.gitkeep
/services/docker-bin/*
!/services/docker-bin/.gitkeep
/docker/testdata/*
!/docker/testdata/.gitkeep